# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# general dirs
bin/
target/
.repository/
node_modules/
.idea/
.mta/
.vscode/
lib/

# xmake
/gen/
/import/
/.xmake/

# general file types
.DS_Store
*~
*.avi
*.bak
*.bk
*.class
*.dll
*.doc
*.docx
*.ear
*.exe
*.hprof
*.jar
*.jnilib
*.log
*.orig
*.mtar
*.pdf
*.ppt
*.pptx
*.sdf
*.so
*.so.*
*.trc
*.tgz
*.vsd
*.xls
*.xlsx
*.zip
*.zap
*.swp
TEST-*.xml

# Eclipse settings
.classpath
.project
!org.eclipse.jdt.*.prefs
org.eclipse.core.*
org.eclipse.m2e.*
org.eclipse.wst.*
.externalToolBuilders/
version.txt
