<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="de.ofterdinger.ide.eclipse.target.latest" sequenceNumber="41">
  <locations>
    <!-- ======================================= -->
    <!-- == Eclipse Release Train             == -->
    <!-- ======================================= -->
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="com.google.guava" version="0.0.0"/>
      <unit id="org.apache.commons.exec" version="0.0.0"/>
      <unit id="org.apache.commons.lang3" version="0.0.0"/>
      <unit id="org.apache.commons.io" version="0.0.0"/>
      <unit id="org.bouncycastle.bcpg" version="0.0.0"/>
      <unit id="org.bouncycastle.bcpkix" version="0.0.0"/>
      <unit id="org.bouncycastle.bcprov" version="0.0.0"/>
      <unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
      <unit id="org.eclipse.ui.trace" version="0.0.0"/>
      <unit id="org.eclipse.ui.console" version="0.0.0"/>
      <unit id="org.junit" version="0.0.0"/>
      <repository location="https://download.eclipse.org/releases/2021-06/"/>
    </location>

    <!-- ======================================= -->
    <!-- == Eclipse Build Orbit               == -->
    <!-- ======================================= -->
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.mockito" version="0.0.0"/>
      <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20210602031627/repository/"/>
    </location>

  </locations>
</target>