<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Keytool"
            id="KeytoolPluginCategory">
      </category>
      <view
            name="Keytool"
            icon="icons/key.gif"
            category="KeytoolPluginCategory"
            class="de.ofterdinger.ide.eclipse.keytool.internal.ui.KeyStoreView"
            id="net.sourceforge.keytool.views.KeyStoreView">
         Shows a list of keystores.
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="net.sourceforge.keytool.views.KeyStoreView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.ofterdinger.ide.eclipse.keytool.internal.ui.preference.GeneralPreferencePage"
            id="net.sourceforge.keytool.general"
            name="Keytool"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.ofterdinger.ide.eclipse.keytool.internal.ui.editor.CertificateEditor"
            contributorClass="de.ofterdinger.ide.eclipse.keytool.internal.ui.editor.CertificateEditorContributor"
            extensions="cer"
            icon="icons/cert.gif"
            id="net.sourceforge.keytool.editors.CertificateEditor"
            name="Certificate editor">
         Viewing information about the certificate
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="KeytoolPlugin.category"
            name="Keytool"/>
      <wizard
            canFinishEarly="false"
            category="KeytoolPlugin.category"
            class="de.ofterdinger.ide.eclipse.keytool.internal.ui.wizard.NewCertificateWizard"
            hasPages="true"
            helpHref="/net.sourceforge.keytool/html/gettingstarted/gettingstarted.html"
            icon="icons/certnew.gif"
            id="net.sourceforge.keytool.wizards.newcertificate.NewCertificateWizard"
            name="Create a new Certificate"
            project="false">
         <description>Create a new certificate in either a new keystore or in a already opened keystore.</description>
      </wizard>
      <wizard
            canFinishEarly="false"
            category="KeytoolPlugin.category"
            class="de.ofterdinger.ide.eclipse.keytool.internal.ui.wizard.ImportCertificateWizard"
            hasPages="true"
            helpHref="/net.sourceforge.keytool/html/gettingstarted/gettingstarted.html"
            icon="icons/certimport.gif"
            id="net.sourceforge.keytool.wizards.importcertificate.ImportCertificateWizard"
            name="Import a certificate"
            project="false">
         <description>
            Import a certificate.
Either with a private key (pfx) or without (cer).
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="de.ofterdinger.ide.eclipse.keytool.internal.ui.preference.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.ofterdinger.ide.eclipse.keytool.internal.ui.KeytoolPerspectiveFactory"
            icon="icons/key.gif"
            id="net.sourceforge.keytool.perspectives.KeyStorePerspective"
            name="Keytool"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="KeytoolPlugin.Contribution"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="de.ofterdinger.ide.eclipse.keytool.internal.ui.action.ImportCertificateAction"
               icon="icons/certimport.gif"
               id="KeytoolPlugin.importCertificateAction"
               label="Import certificate"
               menubarPath="additions"
               tooltip="Import a certificate into a new or an already open keystore">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               icon="icons/key.gif"
               id="keytool.menus.keytool"
               label="Keytool"
               mnemonic="K"
               tooltip="Handle your certificates and keystores">
            <command
                  commandId="KeytoolPlugin.commands.new"
                  icon="icons/certnew.gif"
                  id="KeytoolPlugin.menus.new"
                  label="Create a new Certificate"
                  tooltip="Create a new Certificate">
            </command>
            <command
                  commandId="KeytoolPlugin.commands.import"
                  icon="icons/certimport.gif"
                  id="KeytoolPlugin.menus.import"
                  label="Import certificate"
                  tooltip="Import certificate">
            </command>
            <command
                  commandId="KeytoolPlugin.commands.open"
                  icon="icons/key.gif"
                  id="KeytoolPlugin.menus.open"
                  label="Open keystore"
                  tooltip="Open keystore">
            </command>
            <separator
                  name="KeytoolPlugin.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="KeytoolPlugin.commands.preferences"
                  label="Preferences"
                  tooltip="Maintain Preferences">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="KeytoolPlugin.commands.import"
            name="Import certificate">
      </command>
      <command
            id="KeytoolPlugin.commands.open"
            name="Open keystore">
      </command>
      <command
            id="KeytoolPlugin.commands.new"
            name="Create a new Certificate">
      </command>
      <command
            id="KeytoolPlugin.commands.preferences"
            name="Preferences">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.ofterdinger.ide.eclipse.keytool.internal.ui.handler.ImportCertificateHandler"
            commandId="KeytoolPlugin.commands.import">
      </handler>
      <handler
            class="de.ofterdinger.ide.eclipse.keytool.internal.ui.handler.OpenKeystoreHandler"
            commandId="KeytoolPlugin.commands.open">
      </handler>
      <handler
            class="de.ofterdinger.ide.eclipse.keytool.internal.ui.handler.NewCertificateHandler"
            commandId="KeytoolPlugin.commands.new">
      </handler>
      <handler
            class="de.ofterdinger.ide.eclipse.keytool.internal.ui.handler.PreferencesHandler"
            commandId="KeytoolPlugin.commands.preferences">
      </handler>
   </extension>
</plugin>
